
<div class="wrapper wrapper-content animated fadeIn">
  <div class="p-w-md m-t-sm">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="expert_name">Expert Name</label>
                  <input type="text" id="expert_name" name="expert_name" value="" placeholder="Expert Name" class="form-control">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="address">address</label>
                  <input type="text" id="address" name="address" value="" placeholder="Address" class="form-control">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="email">email</label>
                  <input type="text" id="email" name="email" value="" placeholder="Email" class="form-control">
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor = "let expert of experts ">
                      <td>{{expert.name}}</td>
                      <td>{{expert.address}}</td>
                      <td>{{expert.email}}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
    
	
          </div>

  
  
  
<div class="form">
      
    
      <div class="tab-content">
        <div id="signup">   
          <h1>Create Expert</h1>
          
         
          
          <div class="top-row">
            <div class="field-wrap">
            
              <input type="firstname" placeholder="Enter First Name" />
            </div>
        
            <div class="field-wrap">
             
              <input type="lastname"placeholder="Enter Last Name"/>
            </div>
          </div>

          <div class="field-wrap">
            
            <input type="address"placeholder="Enter Expert Address"/>
          </div>
          
          <div class="field-wrap">
          
            <input type="age"placeholder="Enter Age"/>
          </div>
          
          <button type="submit" class="button button-block">Submit</button>
          
       

        </div>
        
        <div id="login">   
         
          <form action="/" method="post">
          
            <div class="field-wrap">
            <label>
              Address Address<span class="req">*</span>
            </label>
            <input type="address"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Age<span class="req">*</span>
            </label>
            <input type="age"required autocomplete="off"/>
          </div>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
      
      

  
  
  
  
		</div>

		
		
	

        </div>
		
		
      </div>
    </div>
	
	
 
  
</div>




	