
<div class="wrapper wrapper-content animated fadeIn">
  <div class="p-w-md m-t-sm">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-content" *ngIf="!creationState">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="expert_name">Expert Name</label>
                  <input type="text" id="expert_name" name="expert_name" value="" placeholder="Expert Name" class="form-control">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="address">address</label>
                  <input type="text" id="address" name="address" value="" placeholder="Address" class="form-control">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="email">email</label>
                  <input type="text" id="email" name="email" value="" placeholder="Email" class="form-control">
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor = "let expert of experts ">
                      <td>{{expert.name}}</td>
                      <td>{{expert.address}}</td>
                      <td>{{expert.email}}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form" *ngIf="creationState">
            <form #expertData = "ngForm" (ngSubmit) = "onClickSubmit(expertData.value)" >
              <div class="tab-content">
                <div id="login">   
                  <h1>Create Expert</h1>
                  <div class="top-row">
                    <div class="field-wrap">
                      <input type="text" name = "firstName" ngModel placeholder="Enter First Name"/>
                    </div>
                    <div class="field-wrap">
                      <input type="text" name = "lastName" ngModel  placeholder="Enter Last Name"/>
                    </div>
                  </div>
                  <div class="field-wrap">
                    <input type="text" name = "address" ngModel placeholder="Enter Expert Address"/>
                  </div>
                  <div class="field-wrap">
                    <input type="text" name = "age" ngModel  placeholder="Enter Age"/>
                  </div>
                  <button type="submit" class="button button-block">Submit</button>
                  <div class="field-wrap">  
                      <button type="submit" class="button button-block" (click)="createToggle()">Cancel</button> 
                  </div>
                </div>
                <div id="needed">   
                </div>
              </div><!-- tab-content -->
            </form>
          </div> <!-- /form -->
		    </div>
      </div>
      <div class="row">
        <button *ngIf="!creationState" (click)="createToggle()" type="submit" class="button button-block">Create Expert</button>
      </div>
    </div>
  </div>
</div>




	